.App {
    flex-flow: column wrap;
}

.contact {
    display:flex
}

.contact {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left {
    width: 100%;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 60%;
    font-size: large;
}

.item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    margin : 10px
}

a{
    border: inherit;
    background: inherit;
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-right: 5px;
}


.contact, .aboutMe  {
    height: 100vh; /*Relative to 1% of the height of the viewport  https://www.w3schools.com/cssref/css_units.php  */
}

.projects {
    height: 100%;
}

.contact,.aboutMe  {
    background-color: rgb(212, 210, 210)
    
}

.aboutMe{
    padding-top: 10px;
    height: 50vh;
}

.projects,.skills     {
    background-color: white;
}


.inner {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: rgb(32, 33, 35);
    color: white;
    font-weight: bold;
}

button {
    font-size: 1em ;
    border: inherit;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.profile {
    border-radius: 100%;
}

.contact-s{
    all : inherit;
    margin: 0%;
    width: 100%;
}

.mySkills{
    height : 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    
}

.skill{
    padding: 20px;
    margin: 3vh;
    width: 75%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

@media (min-width: 1024px) {
    

    .skill{
        width: 40%;
        box-shadow: none
    }

    
    html {
        font-size: 1.5em;
    }

    .profile {
        width : 300px
    }

    .contact-s{
        max-width: 1000px;
    }

    .left {
        width: 40%;
        justify-content: end;
    }

    .right {
        margin-top: 8vh;
        width: 60%;
        align-content: center;
        font-size: larger;
    }

    .info {
        margin: 15px;
    }
}

@media (max-width: 768px) {
    .carousel-root {
      max-width: 500px;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-root {
      max-width: 300px;
    }
  }

  
  .MuiPaper-root .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .MuiPaper-root .slick-arrow.slick-prev {
    left: 0;
  }
  
  .MuiPaper-root .slick-arrow.slick-next {
    right: 0;
  }