.App {
    flex-flow: column wrap;
}

.myFlex {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around
}

.contact {
    display:flex
}

.contact {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left {
    width: 100%;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 60%;
}

.item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    margin : 10px
}

.info2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    border: inherit;
    background: inherit;
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-right: 5px;
}


.contact, .skills, .aboutMe   {
    height: 100vh; /*Relative to 1% of the height of the viewport  https://www.w3schools.com/cssref/css_units.php  */
}


.projects {
    height: 170vh;
}

.contact, .skills  {
    background-color: rgb(52, 53, 65);
}

.projects, .aboutMe   {
    background-color: rgb(68, 70, 84);
}

.inner {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: rgb(32, 33, 35);
}

button {
    font-size: 1em ;
    border: inherit;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.profile {
    border-radius: 100%;
}

.contact-s{
    all : inherit;
    margin: 0%;
    width: 100%;
}

.mySkills{
    height : 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    
}

.skill{
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}


@media (min-width: 1024px) {

    .projects {
        height: 190vh;
    }

    .skill{
        width: 40%;
        box-shadow: none
    }
    
    
    html {
        font-size: 1.5em;
    }

    .profile {
        width : 300px
    }

    .contact-s{
        max-width: 1000px;
    }

    .left {
        width: 40%;
        justify-content: end;
    }

    .right {
        margin-top: 8vh;
        width: 60%;
        align-content: center
    }

    .info {
        margin: 15px;
    }
}

@media (max-width: 768px) {
    .carousel-root {
      max-width: 500px;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-root {
      max-width: 300px;
    }
  }