h1 {
    padding-top: 1vh;
    padding-left: 2vh;
    text-align: center;
}

h2 {
    margin: 0%;
    padding-top: 2vh;
    padding-left: 4vh;
}


a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: flex;
    align-items: center;
    /* Align vertical */
    vertical-align: middle;
    color: #696969;
    background-color: #f0f0f0;
    border: solid 1px;
    font-size: medium;
    max-width: 150px;
    padding: 5px
}

.logo-project {
    margin-right: 20px;
    margin-right: 5px;
}

.link {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:hover {
    filter: invert(30%) sepia(50%) saturate(0%) hue-rotate(253deg) brightness(97%) contrast(89%);
}


.project {
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 8vh;
    max-width: 80%;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    transition: opacity 500ms;
}

.technos {
    font-style: italic;
    color: #575555e8;
}

@media (min-width: 1024px) {

    .project {
        width: 60%;
    }

}